In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

In [2]:
twitter = pd.read_csv('Twitter_Data.csv')[:5000]

In [3]:
twitter

                                             clean_text  category
0     when modi promised “minimum government maximum...      -1.0
1     talk all the nonsense and continue all the dra...       0.0
2     what did just say vote for modi  welcome bjp t...       1.0
3     asking his supporters prefix chowkidar their n...       1.0
4     answer who among these the most powerful world...       1.0
...                                                 ...       ...
4995  may carry out terrorist attack before next mon...       0.0
4996  aunty bhaktshe has surrendered her rational th...       0.0
4997               when modi gets less amount donation       -1.0
4998  possibly you have reassess the past yrs and le...      -1.0
4999  after jaitely the only minister who gets the s...       1.0

[5000 rows x 2 columns]

In [4]:
twitter.isnull().sum()

clean_text    1
category      0
dtype: int64

In [5]:
twitter.dropna(inplace = True)

In [6]:
tfidf_vectorizer = TfidfVectorizer(max_features=5000)
X = tfidf_vectorizer.fit_transform(twitter['clean_text'])
y = twitter['category']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
knn_classifier = KNeighborsClassifier(n_neighbors=5)
knn_classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [9]:
y_pred = knn_classifier.predict(X_test)

In [10]:
print("Classification Report:")
print(classification_report(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

        -1.0       0.59      0.12      0.20       202
         0.0       0.44      0.96      0.60       406
         1.0       0.80      0.16      0.27       392

    accuracy                           0.48      1000
   macro avg       0.61      0.41      0.36      1000
weighted avg       0.61      0.47      0.39      1000

In [14]:
text = ["i love you"]
text_vectorizer = tfidf_vectorizer.transform(text)
knn_classifier.predict(text_vectorizer)

array([1.])

In [15]:
twitter.groupby('category').count()

          clean_text
category
-1.0            1087
 0.0            1793
 1.0            2119